.logo-login {
    width: 125px !important;
    height: auto;
    margin-bottom: 9px;
}

.form-login {
    margin-top: 5.5em;
}

.form-register {
    margin-top: 3.8em;
}

body {
    background: #00c0ef !important;
    background: -webkit-linear-gradient(to top, #00c0ef, #2193b0) !important; 
    background: linear-gradient(to to, #00c0ef, #2193b0) !important; 
}

.btn-login {
    background: #00c0ef !important;
    color: #fff !important;
}

p {
    text-align: center;
    color: #00c0ef;
}